<!-- include header file -->
<%- include("partials/header.ejs") %>
<body>
    <div style="display: flex; justify-content: center;">
        <div class="card" style="width: 500px; margin-top: 30px;">
            <div class="card-header">Reserve</div>
            <div class="card-body">
                
                <!-- add user booking form -->
                <form action="/add_sit_b4" method="post">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off" placeholder="Enter Name">
                        <input type="hidden" name="movie" value="Iron man 3">
                        <input type="hidden" name="ShowTime" value="13:50">
                        <input type="hidden" name="Theater" value="Theater 2">
                        <input type="hidden" name="seat" value="B2">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Add" onclick="checker()">
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        function checker() {
            let result = confirm('Are you Booking now?');
            if (result == false) {
                event.preventDefault();
            }
        }
    </script>
</body>
<!-- include footer file -->
<%- include("partials/footer.ejs") %>